.sidebar{
  position:fixed;
  top:55px;
  bottom:0px;
  left:0px;
  width:72px;
  background-color:white;
  z-index:200;
  padding-top:5px;
}
.sidebar-link{

  height:74px;
  margin-bottom:1px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}
.sidebar-link:hover{
  background-color:rgb(235,235,235);
}
.sidebar-link img{
  height:24px;
  margin-bottom:4px;
}
.sidebar-link div{

  font-family:Roboto,Arial;
  font-size:10px;
}
@media(min-width:1200px)
{ body{
  padding-left: 220px
}
  .sidebar{
    position:fixed;
    display:flex;
    flex-direction: column;
    top:55px;
    left:0px;
    bottom:0px;
    width:180px;
    padding-left:10px;


  }
  .sidebar-link {

  height:74px;
  display:flex;
  flex-direction:row;
  justify-content:start;


  }
  .sidebar-link img{
    height:40px;

  }
  .sidebar-link div{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:15px;
    font-weight:bold;
    margin-left:10px; 

  }
}
